@CHARSET "UTF-8";

/* ***************************************************************************
 * T4K Styles
 * ***************************************************************************
 */
.label-course, .label-course a {
	font-family: Consolas, monospace;
	background: #333;
	color: #FFF;
	padding: 5px 8px 2px 8px;
	border: 1px solid #333;
}
.label-class, .label-class a {
	font-family: Consolas, monospace;
	background: #EEE;
	color: #333;
	padding: 5px 8px 2px 8px;
	border: 1px solid #333;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
	background-color: #ec971f;
}
.panel-level-1 {
	border-color: #58B15E;
}
.panel-level-2 {
	border-color: #419BD7;
}
.panel-level-3 {
	border-color: #FF8144;
}
.level-1 {
	color: #58B15E;
}
.level-2 {
	color: #419BD7;
}
.level-3 {
	color: #FF8144;
}
.scrollable-menu {
    height: auto;
    max-height: 600px;
    overflow-x: hidden;
}